ACCESS_TOKEN={Facebook GraphAPI access token}
BUSINESS_ACC_ID={Instagram Business Id}
GITHUB_PAT={Github Personal Access Token}
GITHUB_REPO_PATH={Github API link to the repository where videos are stored. I.e. "https://api.github.com/repos/{USER}/{REPO}/contents"}
GEMINI_API_KEY={Gemini API Key}